.announcement_page{
  width: 66%;
  height: 99vh;
  margin-left: -25px;
  float: left;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
}

div[class="announcement_page"]::-webkit-scrollbar{
    width: 10px;
}

div[class="announcement_page"]::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background : rgba(0,0,0,.1);
}

.right-page{
  float: right;
  background-color: white;
  height: 91vh;
  position: fixed;
  margin-left: 64%; 
  width: 300px;
  overflow: auto;
  border: 1px solid #babac3;
  box-shadow: 2px 2px 5px;
  border-radius: 10px;
}

.panel-decorated{
  box-shadow: 2px 2px 2px !important;
  border-radius: 7px;
  position:sticky;
}

.panel-heading,.panel .panel-title{
    font-size: 1.2em !important;
    color:#333 !important;
    background-color: #fff !important;
    border-color:#fff !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 5px;
}

.panel-body{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #333;
  font-size: 16px;
  padding-left: 15px;
}

.row-adjusted{
  margin-left: 5px;
  margin-top: 15px;
}

#txt_announcement{
  margin-left: 7%;
  resize: none;
  height: 320px;
  width: 250px;
  border: 1px solid rgb(150, 147, 147);
  font-weight: normal;
  font-size: 15px;
}

#btn_holder{
  float:center;
  margin-right: 20px;
  border-radius: 10px;
  /* background-color: whitesmoke; */
}

.msg_title{
  margin-left: 20px;
  font-size: 17px;
  font-weight: normal;
  margin-top: 20px;
}

.form-control-adjusted{
  margin-left: 20px;
  height: 35px;
  width: 250px;
}

#btn_post{
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

#btn_post:hover{
  background-color: #444;
}